.cart-icon {
    background-color: $main;
    box-shadow: 1px 1px 10px #555;
    width: 60px;
    cursor: pointer;
    display: block;
    float: right;
    padding: 10px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    &__img {
        max-width: 40px;
    }
    &__nr {
        width: 20px;
        @include abs(5px,
        5px,
        auto,
        auto);
        background-color: #fff;
        border-radius: 50%;
        color: $main;
        display: block;
        height: 20px;
        font: {
            size: 15px;
            weight: bold;
        }
        line-height: 22px;
        text-align: center;
        text-decoration: none;
    }
}

//.cart-table
.cart-table-wrapper {
    border: 1px solid $main;
    box-shadow: 1px 1px 10px #555;
    max-height: 520px;
    overflow-y: scroll;
    position: fixed;
    z-index: 9999;
    top: 64px;
    right: 0;
    @media all and (min-width: 768px) {
        height: auto;
        overflow-y: auto;
    }
}

.cart-table {
    width: calc(100% - 1px);
    background-color: #fff;
    box-shadow: 1px 1px 10px #666;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
    right: 0;
    @media all and (min-width: 1200px) {
        max-width: 50%;
        left: auto;
        max-height: auto;
        position: fixed;
        right: 0;
    }
    &-header {
        &__heading {
            background-color: $main;
            color: #fff;
            font-weight: bold;
            padding: 6px;
        }
    }
    &__quantity {
        float: right;
        font: {
            size: 18px;
            weight: bold;
        }
        width: 60px;
        @media all and (min-width: 768px) {
            float: left;
        }
    }
    .buttons {
        position: relative;
        clear: both;
        @media all and (min-width: 768px) {
            float: left;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            right: 17px;
        }
        @media all and (min-width: 992px) {
            right: 15px;
        }
        &__btn {
            color: #fff;
            background-color: $main;
            border: 1px solid $main;
            display: inline-block;
            margin: 10px auto;
            width: 30px;
            height: 30px;
            text-align: center;
            text-decoration: none;
            font: {
                size: 25px;
                weight: bold;
            }
            &:hover {
                color: $main;
                background-color: #fff;
                border: 1px solid $main;
                @extend %transition;
            }
            @media all and (min-width: 768px) {
                display: block;
            }
        }
    }
    &__cell {
        border: 1px solid $main;
        padding: 6px;
        position: relative;
        &--total {
            background-color: rgba($main, 0.95);
            color: #fff;
            font-size: 25px;
        }
    }
    &__image {
        max-height: 90px;
        &--remove {
            display: block;
            float: right;
            max-width: 30px;
            @media all and (min-width: 768px) {
                float: none;
                margin: auto;
            }
        }
    }
    &__link {
        color: $main;
        font-weight: bold;
    }
}