$main: #222;

$phone: 320px;
$bigger-phone: 400px;
$smartfon: 600px;
$max-tablet: 767px;
$tablet: 768px;
$big-tablet: 992px;
$small-desktop-min: 1199px;
$small-desktop: 1200px;
$desktop: 1400px;
$bigger-desktop: 1600px;
$big-desktop: 1920px;