@charset "utf-8";
@import "normalize";
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}