<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Clothes Shop - Natalia Kiełbicka</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="dist/css/main.min.css">
</head>

<body>
    <header class="header">
        <h1 class="header__heading">Women's Fashion</h1>
        <h3 class="header__subheading">We have all you need to turn heads wherever you go</h3>
    </header>

    <main id="shop" class="container" v-cloak>
        <a href="#" @click.prevent="toggleCart" class="cart-icon" title="view shopping cart"><img src="dist/img/cart-icon.svg" alt="remove" class="cart-icon__img"><span class="cart-icon__nr">{{ cartItems.length }}</span>
        </a>

        <shopping-cart inline-template :items="cartItems" v-if="showCart">
            <div class="cart-table-wrapper">
                <table class="cart-table">
                    <thead v-if="items.length">
                        <tr class="cart-table__header cart-table-header">
                            <th class="cart-table-header__heading">Image</th>
                            <th class="cart-table-header__heading">Name</th>
                            <th class="cart-table-header__heading">Quantity</th>
                            <th class="cart-table-header__heading">Partial price</th>
                            <th class="cart-table-header__heading">Remove?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item,index) in items" class="cart-table__row">
                            <td data-label="Image" class="cart-table__cell"><img :src="item.img" :alt="item.id" class="cart-table__image"></td>
                            <td data-label="Name" class="cart-table__cell">{{ item.name }}</td>
                            <td data-label="Quantity" class="cart-table__cell">
                                <span class="cart-table__quantity">{{ item.quantity }}</span>
                                <div class="cart-table__buttons buttons">
                                    <a href="#" class="buttons__btn" @click.prevent="addOne(item)" title="add one item">+</a>
                                    <a href="#" class="buttons__btn" v-if="item.quantity > 1" @click.prevent="subtractOne(item)" title="subtract one item">-</a>
                                </div>
                            </td>
                            <td data-label="Partial price" class="cart-table__cell">{{ item.price * item.quantity | addCurrency }}</td>
                            <td data-label="Remove?" class="cart-table__cell">
                                <a href="#" class="cart-table__link" @click.prevent="removeItem(index)" title="remove item from cart"><img src="dist/img/remove.svg" alt="remove" class="cart-table__image cart-table__image--remove"></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr v-if="items.length">
                            <td class="cart-table__cell" colspan="5">
                                <a v-if="items.length" href="#" @click.prevent="removeAll" class="cart-table__link" title="remove all">Remove all items from the cart</a>
                            </td>
                        </tr>
                        <tr v-if="!items.length" class="cart-table__row">
                            <td class="cart-table__cell" colspan="5">Shopping cart is empty</td>
                        </tr>
                        <tr v-else>
                            <td class="cart-table__cell cart-table__cell--total" colspan="3">Cart Total</td>
                            <td class="cart-table__cell cart-table__cell--total" colspan="2">{{ total | addCurrency }}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </shopping-cart>

        <div class="desc">
            <h2 class="desc__heading">New Collection!</h2>
            <p class="desc__description">Discover the latest fashion and trends in womenswear. Shop this season's collection of clothes.</p>
        </div>

        <div class="filters">
            <form class="search">
                <label for="search" class="search__label">Search:</label>
                <input v-model="search" placeholder="product name" class="search__input">
            </form>
            <div class="sort-by">
                <label for="sortBy" class="sort-by__label">Sort by:</label>
                <select name="sortBy" id="sortBy" @change="sortBy(sortType)" v-model="sortType" class="sort-by__select">
                    <option v-for="item in sortOptions" :value="item.value">{{ item.text }}</option>
                </select>
            </div>
        </div>

        <div class="products">
            <figure v-for="item in products" class="products__item">
                <div class="products__imgwrapper">
                    <div class="products__image" :style='{ backgroundImage: " url( " + item.img + ") ", }'></div>
                </div>
                <figcaption class="products__caption caption">
                    <h3 class="caption__name">{{ item.name }}</h3>
                    <span class="caption__price">{{ item.price | addCurrency }}</span>
                    <a href="#" class="caption__btn" @click.prevent="addToCart(item)" v-show="itemInCart(item)">{{ addToCartBtn }}</a>
                    <p v-show="!itemInCart(item)" class="caption__btn caption__btn--incart">{{ isInCart }}</p>
                </figcaption>
            </figure>
        </div>
    </main>

    <footer class="footer">
        <small class="footer__copy">&copy; 2017 by Natalia Kiełbicka</small>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.min.js"></script>
    <script src="dist/index.js"></script>
</body>

</html>