<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Clothes Shop - Natalia Kiełbicka</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Nunito&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="dist/css/main.min.css"> </head>

<body>

    <header class="header">
        <h1 class="header__heading">Online Shop</h1>
        <h3 class="header__subheading">Check our products</h3>
    </header>

    <main id="shop" class="container">

        <a href="#" @click.prevent="toggleCart" class="cart-icon" title="view shopping cart"><img src="dist/img/cart-icon.svg" alt="remove" class="cart-icon__img"><span class="cart-icon__nr">{{ cartItems.length }}</span>
        </a>

        <shopping-cart inline-template :items="cartItems" v-if="showCart">
            <div class="cart">
                <table class="cart__table">
                    <thead v-if="items.length">
                        <tr class="cart-table__row cart-table__row--head cart-table-row">
                            <th class="cart-table-row__cell">Image</th>
                            <th class="cart-table-row__cell">Name</th>
                            <th class="cart-table-row__cell">Quantity</th>
                            <th class="cart-table-row__cell">Single price</th>
                            <th class="cart-table-row__cell">Remove?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item,index) in items" class="cart-table__row cart-table__row--body cart-table-row">
                            <td data-label="Image" class="cart-table-row__cell"><img :src="item.img" alt="item.id" class="cart-table-row__image"></td>
                            <td data-label="Name" class="cart-table-row__cell">{{ item.name }}</td>
                            <td data-label="Quantity" class="cart-table-row__cell cart-buttons">
                                <span class="cart-buttons__quantity">{{ item.quantity }}</span>
                                <div class="cart-buttons__wrapper cart-buttons-wrapper">
                                    <a href="#" class="cart-buttons-wrapper--add" @click.prevent="addOne(item)" title="add one item">+</a>
                                    <a href="#" class="cart-buttons-wrapper--subtract" v-if="item.quantity > 1" @click.prevent="subtractOne(item)" title="subtract one item">-</a>
                                </div>
                            </td>
                            <td data-label="Price" class="cart-table-row__cell">{{ item.price | addCurrency }}</td>
                            <td data-label="Remove?" class="cart-table-row__cell cart-buttons">
                                <a href="#" class="cart-buttons--remove" @click.prevent="removeItem(index)" title="remove item from cart"><img src="dist/img/remove.svg" alt="remove" class="cart-buttons--remove__img"></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr v-if="!items.length" class="cart-table__row cart-table-row">
                            <td class="cart-table-row__cell cart-table-row__empty" colspan="4">Shopping cart is empty</td>
                        </tr>
                        <tr v-else>
                            <td class="cart-table-row__cell cart-table__total" colspan="3">Cart Total</td>
                            <td class="cart-table-row__cell cart-table__total" colspan="2">{{ total | addCurrency }}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </shopping-cart>

        <div class="desc">
            <h2 class="desc__heading">Latest products</h2>
            <p class="desc__description">See our latest product</p>
        </div>

        <div class="sort-by">
            <select name="sortBy" id="sortBy" @change="sortBy(sortType)" v-model="sortType" class="sort-by__select">
                <option v-for="item in sortOptions" :value="item.value">{{ item.text }}</option>
            </select>
        </div>

        <div class="products">
            <figure v-for="item in items" class="products__single-product">
                <div class="products__img-wrapper products-image">
                    <div class="products-image__image" :style='{ backgroundImage: " url( " + item.img + ") ", }'></div>
                </div>
                <figcaption class="products__caption products-caption">
                    <h3 class="products-caption__name">{{ item.name }}</h3>
                    <span class="products-caption__price">{{ item.price | addCurrency }}</span>
                    <a href="#" class="products-caption__btn products-caption-btn" @click.prevent="addToCart(item)" v-show="itemInCart(item)">{{ addToCartBtn }}</a>
                    <p v-show="!itemInCart(item)" class="products-caption__btn products-caption__btn--incart">{{ isInCart }}</p>
                </figcaption>
            </figure>
        </div>
    </main>

    <footer class="footer">
        <small class="footer__copy">&copy; 2017 by Natalia Kiełbicka</small>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="dist/index.js"></script>
</body>

</html>